/* シン・勤怠入力システム*/
.head{
  background-color: rgb(0, 140, 255);
  color: white;
  font-size: 150%;
  font-family: "メイリオ" ;
  width: 100%;
  margin: 0px;
  text-align:center;
  position: fixed;
  z-index: 200;
}
/*カレンダー*/
.calenderData {
  float: left;
  width: 55%;
  height: 50%;
  margin-left: 2%;
  margin-top: 5%;
  position: fixed;
}

/* 入力表示 */
.inputArea {
  float: right;
  margin-top: 36px;
  width: 37%;
  height: 100%;
  margin-right: 1%;
  background: #e4fcff;/*背景色*/
  padding-left: 50px;
  position: relative;
  z-index: 100;
}

/* 11月24日の勤怠入力*/
.title {
  font-size: 80%;
  background-color: #e4fcff;
  position: fixed;
  width:100%;
  z-index: 100;
  /* height: 10%; */
  /* margin: 0px 0px 0px 0px; */
  /* padding: 0px 0px 0px 0px; */
}

.title h1{
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}

.template select{
  margin-top: 12%;
  font-size: 100%;
  background-color: azure;
}

.memo{
  color: darkgray;
  margin-top: 30px;
}

.memo input {
  font-size: larger;
}

.timecomment{
  color: darkgray;
  margin-top: 20px;
  margin-bottom: 20px;
}

.timecomment p {
  margin: 0;
}

.register button{
  font-size: 200%;
  width: 32%;
  height:10%;
  border-radius: 10px;
  margin-left: 28px;
  margin-bottom: 30px;
  background: rgb(248, 138, 138);
 }
 
 .register button:hover {
   cursor: pointer;
   background-color: red;
 }

