.selectorTitle {
  display: inline;
}

.selectorTitle button {
  display: inline-block;
  margin: 10px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  font-weight: bolder;
}

.selectorTitle h2 {
  display: inline-block;
}

.timeInput {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.timeInput input {
  font-size: 50px;
  width: 160px;
  text-align: center;
  padding: 20px;
}

.timeInput p {
  font-size: 60px;
  font-weight: 300;
  margin: 0;
  transform: rotate(90deg);
}

.timeSelectionTable {
  width: 220px;
  height: 770px;
  font-size: 40px;
  position: absolute;
  top: -315px;
  left: 200px;

  margin: 1.5em 0 1.5em 15px;
  color: #555;
  background: #FFF;
  border: solid 3px #555;
}

.timeSelectionTable:before {
  content: "";
  position: absolute;
  top: 40%;
  left: -24px;
  margin-top: -12px;
  border: 12px solid transparent;
  border-right: 12px solid #FFF;
  z-index: 2;
}

.timeSelectionTable:after {
  content: "";
  position: absolute;
  top: 40%;
  left: -30px;
  margin-top: -14px;
  border: 14px solid transparent;
  border-right: 14px solid #555;
  z-index: 1;
}

.scrollView {
  overflow-y: scroll;

  display: flex;
  flex-direction: column;
  align-items: center;

  position: relative;
  top: 0;
  left: 0;

  width: 220px;
  height: 770px;

  color: #555;
  background: #FFF;
}

.scrollView div {
  width: 70%;
  text-align: center;
}

.scrollView div:hover {
  background-color: aqua;
  cursor: pointer;
}

hr {
  width: 70%;
  margin: 3px;
}